/* Reset CSS */
@media (max-width: 4000px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    padding: 400px;
    text-align: center;
    width: 100%;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: -100px
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

.header h1 {
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 400px 0;
}

section h2 {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#botontop {
    width: 70px;
}
 }